<body>
	<form id="form" action="http://localhost:8080/api/user" method="post" >
		Username : <input type="text" name="username"><br>
		Password : <input type="password" name="password"><br>
		<input type="submit" />

	</form>
</body>