
<script language="javascript" type="text/javascript" src="datetimepicker.js">
</script>

<body>
	<form action="http://localhost:8080/api/records" method="get" >
		Username : <input type="text" name="username"><br>
		Date : <input id="date" name="date" type="text" size="25"><a href="javascript:NewCal('date','yyyymmdd')"><img src="cal.gif" width="16" height="16" border="0" alt="Pick a date"></a><br>
		<input type="submit"/>
	</form>
</body> 
